body {
	background-image: images/newskoologo.jpg;
	background-color: white;
	background-repeat: no-repeat;
	font-family: verdana, Geneva, sans-serif;
    text-align: left;
	display: grid;
	grid-gap: 1em;
	grid-template-rows: 
	'header header'
}

h1 {
        font-family: Verdana, Geneva, sans-serif;
        color: 
}

n
}


}
a:link {
	color: #5DB7DB;
	text-decoration: none;


	color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	text-align: justify;
	font-weight: bold;
